<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>按钮悬停效果</title>

<style>
/* body {
  background-color: #d3d3d3;
background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */
</style>
</head>
<body>
<link href="../static/css/button/button.css" rel="stylesheet">

<button class="noselect">登录<span> >>></span></button>
<button class="noselect">注册<span> >>></span></button>

</body>
</html>
